{% extends "layout.html" %}
{% block body %}
<h1>Flights
    <ul class="ulflights">
        {% for flight in flights %}
        <a href="{% url 'flight' flight.id %}">
            <li>
                <span class="flightid">Flight {{ flight.id }}: </span>
                <span class="origin">{{ flight.origin }} to </span>
                <span class="destiny"> {{ flight.destination }} </span>
            </li>
        </a>
        {% endfor %}
    </ul>
</h1>
<a href="{% url 'logout' %}">Log Out</a>
{% endblock %}