{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flights</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
</head>
<body id ="bg"style="background-image: url('{% static 'images/qD94oG.jpg' %}');">
        
        <nav>
            <img src="{% static 'images/logo1.png' %}" class="logo">
        <ul>
            <li><a href="{% url 'home'  %}">Home</a></li>
            <li><a href="{% url 'flights'  %}">Flights</a></li> 
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
            <img src="{% static 'images/cart.png' %}" class="cart-icon">
        </nav>
           
       
    </div>
   {% block body %}
    
    {% endblock %}
</body>
</html>