{% extends "layout.html" %}
{% load static %}
{% block body %}
 
<form class="formulario"action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="input-container">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="input-container">
            <input type="password" name="password" placeholder="Password">
        </div>
            <input type="submit" value="Login"class="button-login">
        {% if message %}
            <div class="message">{{  message }}</div>
         {% endif %}
    </div>
    <p>lorem12</p>
</form>
<div class="text-box">
    <p>Welcome to </p>
    <h1>Django Airlines</h1>
    <h3>We ofer you the best flights, at the best price with the security you need!</h3>
</div>
{% endblock %}