*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
/*Navigator*/
nav{
    padding: 5px 0;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.cart-icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
nav ul a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
/* Message in the login_view */
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
}
.text-box h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}
/*Form*/
.container{
    background: rgb(255, 255, 255);
    width: 320px;
    padding: 15px;
}
.formulario{
    background:  2% rgba(54, 94, 206, 0.205);
    margin-top: 40px;
    padding: 30px;
    
}
input[type="text"] {

}

.input-container{
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
}

.book-button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.book-button-disabled {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.book-button:hover {
    transform: scale(1.06);
    background-color: black;
    color: white;
    cursor: pointer;
}

.button-login{
    border: none;
    text-align: center;
    
    width: 150px;
    color:rgb(235, 235, 235);
    font-size: 20px;
    background: tomato;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.button-login:hover{
    background: chocolate;
}

@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        border-radius:2%;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    background: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  /*Title home section*/
  .home-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d78;
    color: white;
  }
  /**/
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
/* Home */
  .titlexd{
      text-align: center;
      color: white;
  }
  .ulflights{
      position:  absolute;
      width: 851px;
      padding: 25px;
      box-sizing: border-box;
  }

.ulflights li{
    display: flex;
    background: rgba(189, 129, 32, .1);
    padding: 5px;
    color: rgb(5, 16, 22);
    margin: 5px 0;
    transition: .5s;
}

.ulflights li:nth-child(1){
    background: rgba(206, 226, 195, 0.6);
}

.ul li:nth-child(2){
    background: rgba(206, 226, 195, 0.4);
}
.ul li:nth-child(3){
    background: rgba(206, 226, 195, .2);
}

.ul li span:nth-child(1){
    width: 30px;
}

.ul li span:nth-child(2){
    width: 200px;
}

.ul li span:nth-child(3){
    width: 100px;
    text-align: right;
}

.ul li span:nth-child(4){
    width: 70px;
    text-align: right;
}

.ulflights li:hover{
    transform:   scale(1.06);
    background: rgb(68, 93, 89);
}

.parent-container-login > input, label {
    display: block;
}
