{% extends 'main.html' %}
{% block content %}
<form action="{% url 'flight' flight.id %}" method="post">
    {% csrf_token %}
    <h1>Flight specifc</h1>
    <h1>Flights {{ flight.id }}
        <ul>
            <li>Origin: {{ flight.origin }}</li>
            <li>Destination: {{ flight.destination }} </li>
            <li>Duration: {{ flight.duration }}</li>
        </ul>
    </h1>
    <h2>Passengers</h2>
    <ul>
        {% for passenger in passengers %}
        <li>{{ passenger }}</li>
        {% empty %}
        <li>No passengers</li>
        {% endfor %}
    </ul>

    <input type="hidden" name="user_id" value="{{ request.user.id }}">

    {% if user.is_authenticated %}
    <Button class="book-button" type="submit" >Book Flight</Button>
    {% else %}
    <Button class="book-button-disabled" type="submit" disabled>Book Flight</Button>
    {% endif %}

</form>
{% endblock %}
