<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Flights</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>
<!--
<div>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Flights</a>
            <a href="#">Books</a>
            <a href="#">Help</a>
        </nav>
        <section class="texts-header">
            <h1>Djando Airline App</h1>
            <h2>Book your travels</h2>
        </section>
        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>
    </header>
    <main>
        <section class="container about-us">
            <h2 class="titulo">About us</h2>
            <div class="container-about-us">
                <img src="" alt="image-aboutus">
                <div class="contend texts">
                    <h3><span>1</span>The best products</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea laboriosam suscipit qui fuga deleniti possimus reprehenderit natus ducimus hic harum laudantium quo sunt unde vitae aliquid, aperiam, enim assumenda? Similique!</p>
                    <h3><span>2</span>The best security</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea laboriosam suscipit qui fuga deleniti possimus reprehenderit natus ducimus hic harum laudantium quo sunt unde vitae aliquid, aperiam, enim assumenda? Similique!</p>
                </div>         
            </div>
        </section>
        <section class="travels">
            <div class="container">
                <h2 class="title">Travels</h2>
                <div class="galllery-port">
                    <div class="imagen-port">
                        <img src="" alt="">
                        <div class="hover-gallery">
                            <img src="" alt="">
                            <p>Our work</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>-->

<body>
    {% block body %}

    {% endblock %}
</body>
</html>